.folders--table-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}
.folders--table-wrapper {
  flex-grow: 1;
  max-width: 65%;
}
.folders--folder-content-wrapper {
  max-width: 33%;
  min-width: 33%;
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 10px;
}
.folders--folder-content-wrapper .folder--teaser {
  flex: 1;
}
