{#
  - user: the user who own the folders.
  - entity: the entity to be added to the folder.
  - add_content_link: a render array element of type link ready to be rendered.
  - content_folders: an array of folder entities the "entity" is already in.
#}
{{ add_content_link }}
