{#
/**
 * @file
 * Default theme implementation to display a folder.
 *
 * Available variables:
 * - folder: The folder entity with limited access to object properties and
 *   methods. Only "getter" methods (method names starting with "get", "has",
 *   or "is") and a few common methods such as "id" and "label" are available.
 *   Calling other methods (such as node.delete) will result in an exception.
 * - label: The name of the folder.
 * - content: All folder items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - url: Direct URL of the current folder.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - folder: The current template type (also known as a "theming hook").
 *   - folder--[type]: The current group type. For example, if the folder is a
 *     "Folder" it would result in "folder--folder". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - folder--[view_mode]: The View Mode of the folder; for example, a
 *     teaser would result in: "folder--teaser", and full: "folder--full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 *
 * @see template_preprocess_group()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>

  {{ title_prefix }}
  {% if not page and not teaser and not add_content_to_folder_form %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% elseif teaser or add_content_to_folder_form %}
    <h2{{ title_attributes }}>
      {{ '"@label" folder content'|t({'@label': label}) }}
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</div>
